@wimbledon-green-bg: #030;
@wimbledon-green-text: #00703C;

body{
    font-size:1.2em;
    h1,h2,h3,h4{
        color: rgb(99, 110, 250);
    }
    h4{
        font-size: 1.5em;
    }

    footer{
        padding-bottom: 20px;
    }
}

.sankey{
    path.sankey-link {
        cursor: help;
    }
    .sankey-node{
        cursor: pointer;
        .node-label{
            font-size: 0.9em !important;
            font-weight: bold;
        }
        
    }
}

.card_title.card-body {
    padding: 5px 15px;
}

.table th {
    text-transform: capitalize;
}

@media (min-width: 1200px) and (max-width: 2000px){
    .lp-12 {
        flex: 0 0 auto;
        width: 100%;
    }
  }